<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#" >
    <img src="./assets/img/imagelogo.png" width="220" height="95"  alt="">
  </a>
  <div class="dropdown show" style = "margin-right: 5%;">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Student Name
    </a>  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Username</a>
      <a class="dropdown-item" href="#">Course Info</a>
      <a class="dropdown-item" href="#">Edit Information</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Log Out</a>

    </div>
  </div>
</nav>
<div id="backgroundimage"></div>
<div class="card-deck" style = "width :80% ; height : 20%;" >
  <div class="card" >
    <img class="card-img-top" src="./assets/img/syl.png" style = "height : 28%" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Syllabus and Important Dates</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Latest Event 1</li>
      <li class="list-group-item">Latest Event 2</li>
    </ul>
    <div class="card-body">
      <a routerLink="syllabus" class="btn btn-primary mr-1" role="button" aria-pressed="true"> Syllabus</a>
      <a routerLink="syllabus" class="btn btn-primary mr-1" role="button" aria-pressed="true"> Important Dates</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/img/assignment.jpeg" style = "height : 27%"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Assignments</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Due-Assignments</li>
      <li class="list-group-item">Missed Assignments</li>

    </ul>
    <div class="card-body">
      <a routerLink="assignments" class="btn btn-primary" role="button" aria-pressed="true"> Assignments </a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./assets/img/lecs.jpeg"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lectures and Recitations</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Latest Lecture 1</li>
      <li class="list-group-item">Latest Recitation 1</li>
    </ul>
    <div class="card-body">
      <a routerLink="lectures" class="btn btn-primary mr-1" role="button" aria-pressed="true">Lectures</a>
      <a routerLink="lectures" class="btn btn-primary mr-1" role="button" aria-pressed="true">Recitations</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
